html{
    background-color: #181818;
}
*{
    font-family: 'Merriweather Sans', sans-serif;
    
}
:hover{
    color:white;
}

.nav-clct:hover{
    color: white;
    
}
.nav{
    color: gray;
}
.nav-clct{
    color: white;
    
    
   border-bottom: solid 2px white;
   background-color: rgba(255, 255, 255, 0.158);
    
}

.nav:hover{
    color: white;
}
    




.navbar{
    background-color: #181818;
    height: 5em;
}







