*{
    font-family: 'Roboto Mono', monospace;
    
}


.nav-clct:hover{
    color: white;
    
}
.nav{
    color: gray;
}
.nav-clct{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold !important;
    
   border-bottom: solid 2px white;
}

.nav:hover{
    color: white;
}
    




.navbar{
    background-color: #181818;
}




